name = "anki-interview-backend"
compatibility_date = "2025-01-01"
main = "src/index.ts"

# Default configuration for local development
[[d1_databases]]
binding = "DB"
database_name = "anki-interview-db"
database_id = "3d697f9b-2f45-4b63-9907-fc3f26c1595c"
migrations_dir = "db/migrations"

# Dev environment (deployed from main branch)
[env.dev]
name = "anki-interview-backend"
[[env.dev.d1_databases]]
binding = "DB"
database_name = "anki-interview-db"
database_id = "3d697f9b-2f45-4b63-9907-fc3f26c1595c"
migrations_dir = "db/migrations"

# Production environment (deployed from release-* branches)
[env.production]
name = "anki-interview-backend-prod"
[[env.production.d1_databases]]
binding = "DB"
database_name = "anki-interview-db-prod"
database_id = "5dbc09cb-a3c6-4f2e-b4aa-cef932a2d765"
migrations_dir = "db/migrations"
